body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  font-size: 175%;
  align="center";
}

#p1{
		width: 100px;
		height:50 px;
		float: right;
        border: 1px solid black;
		margin: auto;  
		background-color: #AA0000;
	}	
#p2{
		width: 100px;
		height:50 px;
		float: right;
        border: 1px solid black;
		margin: auto;  
		background-color: #00AA00;
	}	
#p3{
		width: 100px;
		height:50 px;
		float: right;
        border: 1px solid black;
		margin: auto;  
		background-color: #0000AA;
	}

#row {
  width: 100%;
}

@media (min-width: 992px) {
	#div1{
		width: 31.333333%;
		float: left;
        border: 1px solid black;
		margin: 1%; 
        padding: 10px;		
	}	
	#div2{
		width: 31.333333%;
		float: left;
        border: 1px solid black;
		margin: 1%; 
padding: 10px;		
	}	
	#div3{
		width: 31.333333%;
		float: left;
        border: 1px solid black;
		margin: 1%; 
padding: 10px;		
	}	
}
@media (min-width: 768px) and (max-width: 991px) {
	#div1{
		width: 48%;
		float: left;
        border: 1px solid black;
		margin: 1%;  
		padding: 10px;
	}	
	#div2{
		width: 48%;
		float: left;
        border: 1px solid black;
		margin: 1%;  
		padding: 10px;
	}	
	#div3{
		width: 98%;
		float: left;
        border: 1px solid black;
		margin: 1%;  
		padding: 10px;
	}	
}
@media (max-width: 767px) {
	#div1{
		width: 98%;
		float: left;
        border: 1px solid black;
		margin: 1%;  
		padding: 10px;
	}	
	#div2{
		width: 98%;
		float: left;
        border: 1px solid black;
		margin: 1%; 
padding: 10px;		
	}	
	#div3{
		width: 98%;
		float: left;
        border: 1px solid black;
		margin: 5px;  
		padding: 1%;
	}	
}